* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-gap: 10px;
  text-align: center;
  position: relative;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  z-index: 4;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.3);
}

.w1 {
  grid-column: span 4;
}
.h1 {
  grid-row: span 1;
}

.w2 {
  grid-column: span 2;
}
.h2 {
  grid-row: span 1;
}
.text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/* PREVIOUS PAGE BUTTON */

.button-section {
  height: 60px;
  width: 150px;
}
button {
  margin: 5px;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
}
.prev-pg {
  height: 50px;
  padding: 14px 16px;
}
.prev-pg:hover {
  background-color: #000;
  color: #fff;
  padding: 14px 16px;
}
